.box {width: 460px;height: 510px;border: 1px solid #ccc;margin: 100px auto;border-radius: 6px;background: #FBEEDE;position: relative;z-index: 9999}

.d-head {height: 84px;border-bottom: 1px solid #ccc}
.d-head {background: url("../image/box-bg.jpg") #FBEEDE right no-repeat}
.line1 {height: 50px;position: relative}
.line1 img {width: 40px;height: 40px;border: 1px solid #FFFFFF;position: absolute;left: 8px;top: 4px}
.nickname {height: 24px;line-height: 24px;font-size: 16px;position: absolute;left: 58px;top: 4px}
.sign {height: 16px;line-height: 16px;font: lighter 13px;position: absolute;left: 58px;top: 28px}

.icon1 {position: absolute;right: 0;top: 0}
.icon1 li {width: 24px;height: 24px;float: left;padding:0 2px}
#d-down {background: url('../image/down1.png') no-repeat}
#d-min {background: url('../image/min1.png') no-repeat}
#d-max {background: url('../image/max1.png') no-repeat}
#d-close {background: url('../image/close1.png') no-repeat}
#d-down:hover {background: #3A95DE url('../image/down2.png') no-repeat}
#d-min:hover {background: #3A95DE url('../image/min2.png') no-repeat}
#d-max:hover {background: #3A95DE url('../image/max2.png') no-repeat}
#d-close:hover {background: #EA4848 url('../image/close2.png') no-repeat}

.icon2 {height: 34px;position: relative}
.icon2 li {width: 26px;height: 26px;float: left;margin: 4px 7px}
#func1 {background: url('../image/icon-01.png') no-repeat}
#func2 {background: url('../image/icon-02.png') no-repeat}
#func3 {background: url('../image/icon-03.png') no-repeat}
#func4 {background: url('../image/icon-04.png') no-repeat}
#func5 {background: url('../image/icon-05.png') no-repeat}
#func6 {background: url('../image/icon-06.png') no-repeat}
#func7 {background: url('../image/icon-07.png') no-repeat}
#func1:hover,#func2:hover,#func3:hover,#func4:hover,#func5:hover,#func6:hover,#func7:hover {margin: 3px 6px;border: 1px solid gray}

.show {width:440px;height: 270px;overflow-y: scroll;border-bottom: 1px solid #ccc;padding: 10px}
.show span {color: green;font-size: 14px}

.content {height: 134px}
.menu {height: 28px;position: relative}
.menu li {width: 20px;height: 20px;float: left;margin: 4px 6px}
#menu1 {background: url('../image/menu-01.png') no-repeat}
#menu2 {background: url('../image/menu-02.png') no-repeat}
#menu3 {background: url('../image/menu-03.png') no-repeat}
#menu4 {background: url('../image/menu-04.png') no-repeat}
#menu5 {background: url('../image/menu-05.png') no-repeat}
#menu6 {background: url('../image/menu-06.png') no-repeat}
#menu7 {background: url('../image/menu-07.png') no-repeat}
#menu8 {background: url('../image/menu-08.png') no-repeat}
#menu9 {background: url('../image/menu-09.png') no-repeat}
#menu1:hover,#menu2:hover,#menu3:hover,#menu4:hover,#menu5:hover,#menu6:hover,#menu7:hover,#menu8:hover,#menu9:hover {margin: 3px 5px;border: 1px solid gray}
.history {width:20px;height:20px;background: url('../image/menu-10.png') no-repeat;position: absolute;right: 76px;top: 4px}
.menu p {height: 28px;line-height:28px;font-size: 12px;position: absolute;right: 25px}

.write {height: 70px}
.write textarea {width:444px;height:70px;border: 0 none;outline: none;margin: 0 8px;background: #FBEEDE}

.btn {height: 36px;position: relative}
#clswin {width: 64px;height: 26px;font-size: 12px;color: #FFFFFF;line-height: 26px;background-color: #EA4848;
border: 0 none;border-radius: 4px;text-align: center;position: absolute;right:78px;top: 5px}
#setinfo {width: 64px;height: 26px;font-size: 12px;color: #FFFFFF;line-height: 26px;background-color: #EA4848;
border: 0 none;border-radius: 4px;text-align: center;position: absolute;right:8px;top: 5px}