@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td,hr{margin:0px;padding:0px;}
body{font-size:12px;line-height:1.5;font-family:微软雅黑;background:#fff;}
h1,h2,h3,h4,h5,h6{font-family:arial,"hiragino sans gb","microsoft yahei","Simsun",sans-serif;font-size:100%;font-weight:normal;}
input,textarea,select,button{font-size:12px;,font-weight:normal;vertical-align:middle;}
input[type='button'],input[type='submit'],select,button{cursor:pointer;}
table{border-spacing:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
q:before,q:after{content:"";}
abbr,acronym{border:0 none;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
fieldset,img,a img,iframe{border-style:none;border-width:0;}
img{vertical-align:middle;vertical-align:middle;outline:none;}
textarea{overflow-y:auto;}
legend{color:#000;}
a{text-decoration:none;outline:none;cursor:pointer;color:#298ff8;}
a:link,a:visited{text-decoration:none;}
hr {height:0;}